@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap-y-mandatory {
    scroll-snap-type: y mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  
  /* Hide scrollbar for cleaner look */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-y: auto; /* Restaurado el scroll normal de la página */
}
